<h4 class="ui horizontal section divider header">Frequently Bought Together</h4>
<ul>
    {% for recommendation in get_recommendations(product|sylius_resolve_variant) %}
        <li>{{ recommendation.productVariant.product.name }}</li>
    {% endfor %}
</ul>
