<h4 class="ui horizontal section divider header">Frequently Bought Together</h4>
<ul>
    {# @var recommendation \Setono\SyliusRecommendationsPlugin\Provider\Recommendation #}
    {% for recommendation in ssr_get_recommendations(product|sylius_resolve_variant) %}
        <li>{{ ssr_get_product_variant(recommendation.id).product.name }}</li>
    {% endfor %}
</ul>
